.event {
    display: flex;
    align-items: flex-start;
    border: 1px solid #ccc;
    border-radius: 8px; 
    padding: 16px; 
    margin: 10px; 
    background-color: #f9f9f9; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s; 
    align-items: center;
}

.event:hover {
    transform: scale(1.02);
    cursor: pointer; 
}

.img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px; 
    margin-right: 16px;
}

.content {
    display: flex; 
    margin-left: auto;
}

.h3 {
    font-size: 1.2rem;
    margin: 0;
}

.p {
    font-size: 0.9rem; 
    color: #555;
    margin: 5px 0; 
}

.enrollbutton, .detailsbutton {
    background-color: #0070f3; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    padding: 10px 15px; 
    cursor: pointer; 
    margin-top: 8px;
    transition: background-color 0.2s;
}

.enrollbutton:hover, .detailsbutton:hover {
    background-color: #005bb5; 
}

.enrollbutton{
    margin-right: 10px;
}
